/*
@author: Dominik Schiffhorst
@date: 2015-11-19
*/
body {
	background-color:#DDDDDD;
}
h1, h2 {
	color:#0077BB;
}
h3 {
	color:#0055AA;
}
h4 {
	color:#0088CC;
	font-style: italic;
}
h5 {
	color:#0088CC;
}
h6 {
	color:#0055AA;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
	text-decoration: underline;
}
.container {
	background-color:#FFFFFF;
	box-shadow: 0px 0px 2px 1px #666;
}
.img-left {
	margin-right:10px;
	margin-bottom:10px;
	float:left;
}
.img-right {
	margin-left:10px;
	margin-bottom:10px;
	float:right;
}
.clear {
	clear: both;
}
.nachfragen {
	color:#FF0000;
}
.todo {
	font-size: 18px;
	color:#339933;
}